
.icon{
    position: relative;
    max-width: 250px;
}
.result-container{
    max-height: 150px;
    overflow-y:auto ;
    transition: visibility 0.1s, opacity 0.1s ;
    background-color: white; 
    position: relative; 
    top: 100;
    left: 0; 
    width: 250px; 
    margin-top: 5px;
    display: flex;
}

.result-container a {
    display: flex;
    padding: 8px; 
    text-decoration: none;
    color: black; 
}

.result-container--visible{
    visibility: visible;
    opacity: 1; 
}

.search-result{
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
}

.search-result:hover{
    background: #eeeeee;
}
.search-result:not(:last-of-type){
    border-bottom: #eeeeee;
}