<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/calender.css">
</head>
<body>
    <h1 id="title">Event Manager</h1>
    <div id="calendar" style="margin-top: 0px;"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="javascript/calender.js"></script>
</body>
</html>